body{
    background: url(../img/background.gif);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#particles-js{
    height: 100%;
    background: #f00;
}

.dropOnHover {
    display: none;
    position: absolute;
    background-color: #6c757d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropOnHover a {
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropOnHovert a:hover {background-color: #000000;}
  
  .dropdown:hover .dropOnHover {display: block;left: -45px;}

  .dropdown:hover .dropbtn {background-color: #0d6efd;color:white;}