body{
    background-color: #000;
    background-image: url("https://yourstanmay.github.io/Asset/img/background.gif");
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.scrollable-pre {
    overflow-x: auto;
    white-space: nowrap; /* optional, prevents line breaks */
}


