.neon-button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.neon-about-hover:hover {
    box-shadow: 0 0 10px #fbfbfb, 0 0 40px #8dd2eb, 0 0 80px #edf1f6;
}

.neon-conetent-hover:hover {
    box-shadow: 0 0 5px #fbfbfb, 0 0 15px #fbfbfb, 0 0 25px #edf1f6;
}

.neon-nav-hover:hover {
    font-weight: 500;
    box-shadow: 0 0 5px #fbfbfb, 0 0 15px #fbfbfb, 0 0 25px #edf1f6;
}
